*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    font-family: 'Lato', sans-serif;
}

.mobile_view_search{
   display: none;
}

div{
    color: #ffffff;
}

.main{
    display: flex;
    height: 100vh;
}

.w-15{
    width: 15%;
}


.w-60{
    width: 60%;
}

.w-25{
    width: 25%;
}

/*        SideBar section ends           */

.navigation_container{
    border-right: 1px solid #262626;
    padding: 20px 60px 20px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_text_wrapper{
    max-width: 200px;
    filter: invert(1);
}

.logo_text_wrapper img{
    width: 100%;
}

.navigation_items{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.navigation_items p{
    padding-left: 20px;
}
.navigation_items li a, .navigation_footer{
    display: flex;
    align-items: center;
    /* margin-top: ; */
}

.navigation_items li{
   cursor: pointer; 
   margin: 5px 0px;
}

.navigation_footer:hover{
    background-color: #121212;
    border-radius: 30px;
}

.navigation_items li:hover{
    background-color: #121212;
    border-radius: 30px;
}
.navigation_items .navigtaion_items_icon .reels_icon{
    width: 17px;
}
.navigtaion_items_icon{
    width: 24px;
    padding: 10px;
}

.navigtaion_items_icon img, .post_profile_section_wrapper .dots{
    width: 100%;
    filter: invert(1);
}
.navigtaion_items_icon .profile-photo{
    filter: invert(0);
    border-radius: 50%;
    width: 500%;
}
.navigation_items p{
    font-weight: 500;
}

.navigation_container .navigation_items .navigtaion_items_icon .alert_count{
    background-color: #ff2f40;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    top: 5px;
    left: 20px;
}

.navigtaion_items_icon{
    position: relative;

}
.navigation_footer .bars{
    width: 500%;
}
.navigation_footer p{
    padding-left: 20px;
}

/*        SideBar section ends           */

.stories_header{
    /* display: flex; */
    margin-bottom: 15px;
    /* margin-left: 165px; */
    /* width: 60%; */
}
.stories_header .item img{
    border-radius: 50%;
}
.stories_header .item .story-image::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px; 
    padding: 3px; 
    background:linear-gradient(55deg,rgb(167, 167, 42),rgb(209, 36, 36),rgb(41, 41, 145)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.posts_container{
    padding: 40px 20px 0px 100px;
}

.story_image_container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent; /*2*/
    position: relative;
    margin-right: 15px;
}

.story_image_container img{
    width: 100%;
    border-radius: 50%;
}

.post_profile_section{
    display: flex;
    align-items: center;
}

.post_profile_section .story_image_container{
    width: 30px;
    height: 30px;
}

.profile_name{
    font-size: 14px;
    font-weight: 300;
    margin-right: 12px;
}

.post_time{
    font-size: 14px;
    font-weight: 300;
    margin-right: 12px;
    color: #a8a8a8;
}

.post_profile_section_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dots_wrapper{
    width: 20px;
    cursor: pointer;
}

.single_post{
    width: 60%;
    margin: 30px 50px 30px 190px;
}

.post_header{
    margin-bottom: 10px;
}
.post_image{
    max-width: 100%;
}

.post_image img{
    border-radius: 4px;
}

.w-100{
    width: 100%;
}

.post_footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.post_footer img{
    filter: invert(1);
    width: 20px;
    cursor: pointer;
}

.action_items{
    display: flex;
    align-items: center;
    gap : 15px;
}

/* .action_items div{
    margin-right: 15px;
} */

.d-flex{
    display: flex;
    align-items: center;
}

.story_profile{
    width: 50px;
    border-radius: 50%;
}

.m_0{
    margin: 0;
}

.mb_8{
    margin: 0;
    margin-bottom: 8px;
}

.profile_description{
    margin-left: 12px;
}

.profile_header_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_container{
    padding: 40px 60px 0px 0px;
}

.blue_label{
    color: #0095f6;
    cursor: pointer;
}

.suggestion_header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.suggestion_section .profile_header_section{
    margin-top: 20px ;
}

.suggestion_section .profile_header_section img{
   width: 40px;
}


@media only screen and (max-width: 600px) {
    .navigation_container, .profile_container{
        display: none;
    }
    .posts_container{
        padding: 0;
        width: 100%;
    }
    .single_post{
        width: 90%;
    }

    /* .story_image_container{
        
    } */

    .stories_header{
        overflow: auto;
    }

    .stories_header .story_profile{
        width: 56px !important;
    }

    .mobile_view_search{
        padding: 10px 10px;
        margin-bottom: 18px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #262626;
    }

    .mobile_view_search .input_tag{
        background : #262626;
        padding: 10px;
        border-radius: 8px;
        outline: none;
        border: none;
        width: 80%;
    }

  }